* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1.5px solid rgb(150, 149, 149);
    border-radius: 10px;
    background-color: white;
  }
}
@import "./nav"; //import 其他的scss檔進來
@import "./footer";
@import "./picture";
